body {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 0px;
  
}

#main {
  width: 626px;
  height: 486px;
  padding: 0px 72px 32px 72px;
  margin: auto;
  
  
}

img {
  width: 350px;
  height: 238px;
  margin: auto;
}

#destino {
  color: #EE24FF;
}
#pacotes, #preços {
  color: #3F3D56;
}
#preços {
  color: #3F3D56;
}

h1 span{
  width: 334px;
  height: 265px;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: medium;
  color: #3F3D56;
  margin-bottom: 16px;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #828282;
  padding: 0px 36px 32px 50px;
}
.rodapé {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #828282;
  
}
#destinos1 {
  color: #3F3D56;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  width: 57px;
  height: 15.17px;
  
}


#Wave {
  width: 1911px;
  height: 217px;
  border-radius: auto;
} 


